<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omni_carver">
  <xacro:include filename="$(find omni_carver_description)/urdf/robot/twheel.xacro"/>
  <xacro:include filename="$(find twheel_gazebo)/urdf/graphics.gazebo.xacro"/>  
  <xacro:include filename="$(find twheel_gazebo)/urdf/sensor.gazebo.xacro"/>  
  <xacro:include filename="$(find twheel_gazebo)/urdf/ros2_control.gazebo.xacro"/>  
</robot>
